section.description {
  @extend .row;
  @extend .expanded;

  position: relative;

  background-color: $white;
  height: auto;

  // height: 100%;
  // min-height: 100%;

  // .description-container {
  //   @include vertical-center;
  // }

  .left,
  .right {
    @extend .small-12;
    @extend .medium-6;
    @extend .columns;

    margin-top: 1rem;
  }

  .right {
    @include breakpoint(small only) {
      margin-top: 0;
    }
  }

  .description-container {
    @extend .small-12;
    @extend .medium-10;
    @extend .medium-offset-1;
    @extend .large-6;
    @extend .large-offset-3;
    @extend .columns;
    @extend .end;

    margin-top: 4rem;
    margin-bottom: 4rem;

    // @include breakpoint(1400) {
    //   @extend .large-4;
    //   @extend .large-offset-4;
    // }
  }

  ul {
    // margin-top: -1rem;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    // border-left: solid 2px $primary-color;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p a {
    text-transform: none;
    text-decoration: underline;
  }
}
