<header class="index">
    <ul class="menu">
      <li>
        <a href="#about">О клубе</a>
      </li>
      <li>
        <a href="#materials-zero">Матариалы #0</a>
      </li>
      <li>
        <a href="#subscribe">Запишись в клуб</a>
      </li>
    </ul>


  <div class="title">
    <h1>
      Speculative Computer Club
    </h1>
  </div>
  <div class="email-us">
    <a href="mailto:eeefff.org@gmail.com">eeefff.org@gmail.com</a>
  </div>

</header>

<section class="description">
  <a name="about"/>
  <div class="description-container">
    <div class="left">
      <p>
        Спекулятивный (от слова “спекулировать”, то есть “умышленно использовать что-либо в своих целях”) компьютерный клуб &mdash; место, где мы будем разбирать на запчасти настоящее, и собирать назад по правилам, которые сами себе придумаем. В рамках этого клуба мы планируем:
      </p>
      <ul>
        <li>
          повышать компьютерную грамотность;
        </li>
        <li>
          Играя, использовать экономические модели виртуальных миров как тренажеры для наращивания мускул в экономиках реального мира;
        </li>
        <li>
          антидисциплинарным образом соединять технологическое и политическое;
        </li>
        <li>
          устраивать встречи с экономистами, хакерами и программистами, биологами, футурологами и прочими;
        </li>
        <li>
          проводить воркшопы по сборке разных технических штук - придавать нашей спекуляции материальную форму;
        </li>
        <li>
          делать вылазки в город с изучением инфраструктуры на месте;
        </li>
        <li>
          ну и просто веселиться и хулиганить.
        </li>
      </ul>
    </div>

    <div class="right">
      <p>
        Компьютерный клуб, в котором возможно использование игр не по назначению, который смотрит на настоящее с широко открытыми глазами и захватывает те технологии, которые можно переиспользовать.
      </p>
      <p>
        Подписаться на новости об открытии спекулятивного компьютерного клуба можно <a href="#subscribe">здесь</a>.
      </p>
    </div>
  </div>
</section>

<section class="materials-zero">
  <h1><a name="materials-zero"/>Материалы  #0</h1>
  <p>
    Здесь вы найдете учебные материалы об архитектуре сетей, распределении прав собственности на ИТ-инфраструктуру и об экспроприации технологий. Не сомневайтесь, это отличная возможность узнать, кто будет править миром, когда все государства утонут в мировом океане под тяжестью окутывающих их проводов.
  </p>
  <a class="button" href="/data/materials-zero-v2.pdf">Скачать</a>
</section>

<section class="collect-email-section">
  <a name="subscribe"/>
  <form action= "save-email.php" method="post" name="form">
    <div class="collect-email row expanded">
      <div class="collect-email-input">
        <div class="input-group">
          <input name="email" class="input-group-field" type="text" id="email-input" placeholder="твой email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Запишись!">
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="email-us">
    <a href="mailto:eeefff.org@gmail.com">eeefff.org@gmail.com</a>
  </div>
</section>
