<header class="index">
  <div class="title">
    <h1>
      Speculative Computer Club
    </h1>
  </div>
</header>

<section class="description">
  <div class="description-container">
    <div class="left">
      <p>
        Мы открываем спекулятивный компьютерный клуб (от слова “спекулировать”, то есть “умышленно использовать что-либо в своих целях”) – место, где мы будем разбирать на запчасти настоящее, и собирать все назад по правилам, которые сами себе придумаем. В рамках этого клуба мы планируем:
      </p>
      <ul>
        <li>
          как и в любом компьютерном клубе играть, с фокусом на игры в экономические стратегии;
        </li>
        <li>
          повышать компьютерную грамотность;
        </li>
        <li>
          устраивать встречи с экономистами; хакерами и программистами; биологами; футурологами и др.;
        </li>
        <li>
          проводить воркшопы по собиранию разных технических штук;
        </li>
        <li>
          соединять технологическое и политическое;
        </li>
        <li>
          ну и просто веселиться и хулиганить.
        </li>
      </ul>
    </div>

    <div class="right">
      <p>
        Компьютерный клуб, в котором возможно использование игр не по назначению, который смотрит на настоящее с широко открытыми глазами и захватывает те технологии, которые можно переиспользовать.
      </p>
      <p>
        Подписаться на новости об открытии спекулятивного компьютерного клуба можно ниже.
      </p>
    </div>
  </div>
</section>

<section class="collect-email-section">
  <form action= "save-email.php" method="post" name="form">
    <div class="collect-email row expanded">
      <div class="collect-email-input">
        <div class="input-group">
          <input name="email" class="input-group-field" type="text" id="email-input" placeholder="твой email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Запишись!">
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="email-us">
    <a href="mailto:eeefff.org@gmail.com">eeefff.org@gmail.com</a>
  </div>
</section>
